*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -- Navigation Bar -- */
.topnav {
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-black);
    position: sticky;
    top: 0;
    z-index: 9;
}
.topnav a {
    float: left;
    display: block;
    color: var(--primary-white2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: var(--light-black);
    color: white;
}
.topnav a.active {
    background-color: var(--dark-black);
    color: var(--primary-white);
}
.topnav .icon {
    display: none;
}
.topnav strong{
    padding-right: 8px;
}
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;justify-content: space-between;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}